src/main/resources/schemas/employee_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="EmpID"/>
        <xs:element type="xs:string" name="EmpName"/>
        <xs:element type="xs:string" name="EmpStatus"/>
        <xs:element type="xs:string" name="EmpEmail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>